body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 5px 50px gray;
  }

h1 {
  text-align: center;
  font-style: italic;
}

header p {
  padding: 0 10%;
  text-align: center;
}
section {
  background-color: #f6f6f6;
}

footer {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 100%;
  background-color: gray;
  bottom: 0;
  text-align: center;
  padding: 40px;
}

.column-1 {
  display: inline-block;
  position: relative;
  float: left;
  width: 40%;;
  margin: 200px 20px;
  margin-left: 50px;
  padding: 10px;
}

.column-2 {
  display: inline-block;
  position: relative;
  float: left;
  width: 40%;
  margin: 200px 20px;
  padding: 10px;
}

.container {
  width: 100%;
}